
// Colors
$primary:#ff5900;

// font sizes
$font-sm:14px;
$font-md:16px;
$font-lg:18px;
$font-xl: 36px;

// responsive container sizes
$container-xs: 0;
$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1400px;
