@import "./variables.scss";
@import "./mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabBtns{
    border:2px solid $primary;
    outline: none;
    padding: 8px 25px;
    background: transparent;
    border-radius: 4px;
    font-size: $font-md;
    color: #222;
    font-weight: 700;
    cursor: pointer;
    transition: all ease .3s;

    &:hover{
        background-color: $primary;
        color: white;
    }
}

.tabBtns-active{
    @extend .tabBtns;

    background: $primary;
    border-radius: 4px;
    font-size: $font-md;
    color: white;
    font-weight: 700;
}