@import "../../styles/mixins";
@import "../../styles/variables";

.SidebarHeader {
  padding-bottom: 5px;
  cursor: pointer;
}

.sidebar_menu {
  .sidebar_menu_ul {
    padding-inline: 15px;

    li {
      list-style-type: none;
      transition: all ease 0.5s;
      // position: relative;
      a {
        @include flex($alignItems: center, $justifyContent: space-between);
        color: #222222;
        font-size: 14px;
        margin-bottom: 10px;

        p {
          border-bottom: 2px solid transparent;
        }
      }

      &:hover a p {
        border-bottom: 2px solid $primary;
      }

      .nested_dropdown {
        z-index: 999;
      }
    }
  }
}
